<nav class='navbar navbar-expand-lg navbar-dark bg-dark nav-bar'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='/'>IdeaApp</a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNav'
      aria-controls='navbarNav'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav ms-auto mb-2 mb-lg-0 mx-5'>
        {{#if user}}
          <li class='nav-item'>
            <a
              class='nav-link {{compareValues '/ideas' path 'path'}}'
              aria-current='page'
              href='/ideas'
            >Public ideas</a>
          </li>
          <li class='nav-item'>
            <a
              class='nav-link {{compareValues '/about' path 'path'}}'
              aria-current='page'
              href='/about'
            >About</a>
          </li>
          <li class='nav-item dropdown'>
            <a
              class='nav-link dropdown-toggle'
              href='#'
              id='navbarDropdown'
              role='button'
              data-bs-toggle='dropdown'
              aria-expanded='false'
            >
              {{user_firstName}}
            </a>
            <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
              <li><a
                  class='dropdown-item'
                  href='/users/me/ideas'
                >DashBoard</a></li>

              <li><a class='dropdown-item' href='/users/me'>Profile</a></li>
              <li><a class='dropdown-item' href='/ideas/new'>Add Idea</a></li>
              <li><a class='dropdown-item' href='/auth/logout'>Logout</a></li>
            </ul>
          </li>

        {{else}}

          <li class='nav-item'>
            <a
              class='nav-link {{compareValues '/ideas' path 'path'}}'
              aria-current='page'
              href='/ideas'
            >Public ideas</a>
          </li>
          <li class='nav-item'>
            <a
              class='nav-link {{compareValues '/auth/register' path 'path'}}'
              aria-current='page'
              href='/auth/register'
            >Register</a>
          </li>
          <li class='nav-item'>
            <a
              class='nav-link {{compareValues '/auth/login' path 'path'}}'
              aria-current='page'
              href='/auth/login'
            >Login</a>
          </li>
          <li class='nav-item'>
            <a
              class='nav-link {{compareValues '/about' path 'path'}}'
              aria-current='page'
              href='/about'
            >About</a>
          </li>

        {{/if}}

      </ul>
    </div>
  </div>
</nav>